<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!--Add a nav bar here -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/djangoapp/" class="nav-link">Homepage</a>
            <a href="/djangoapp/about/" class="nav-link">About</a>
            <a href="/djangoapp/contact/" class="nav-link">Contact us</a>
            {% if user.is_authenticated %}
            <form action="/djangoapp/logout" class="form-inline d-inline-flex align-items-center">
                <div class="form-group">
                    <h5 class="centered p-2">{{user.username}}</h5>
                    <button type="submit" class="btn btn-dark">Log Out</button>
                </div>
            </form>
            {% else %}
            <form method="POST" action="/djangoapp/login/" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" name="username" class="form-control" placeholder="My Username" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="form-control" placeholder="My Password" required/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/djangoapp/registration/" class="btn btn-light">Sign Up</a>
                </div>
            </form>
            {% endif %}
        </nav>
    <!--Add a dealer table here -->
        {% block content %}
        {% endblock %}
    </body>

</html>
